* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-header {
    text-align: center;
    color: orange;
    margin-top: 30px;
    background-color: white;
    padding: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

body {
    background-color: black;
    font-style: Arial, Helvetica, sans-serif;
}

.form-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 15px;
    gap: 0.5rem;
    background-color: rgb(141, 133, 133);
    padding: 20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.submit-button {
    padding: 10px;
    font-size: 16px;
    color: orange;
    background-color: green;
    border: 2px solid black;
    border-radius: 4px;
}

.input-style {
    padding: 5px;
    border: 4px solid black;
}