* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form-header {
    text-align: center;
    color: orange;
    margin-top: 30px;
    background-color: white;
    padding: 40px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
}

body {
    background-color: black;
    font-style: Arial, Helvetica, sans-serif;
}